.test1 {
    background:red;
    width: 150px;

}
.test_1{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.test2 {
    background: blue;
    width: 200px; 
    height: 45px;
    margin-bottom: 20px;
}
hr{
    margin-bottom: 20px;
}
.test3{
    background:yellow;
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
}